# apt-get install redis-server

bpython==0.16

click==6.7
beautifulsoup4==4.5.3
elasticsearch>=7.0.0,<8.0.0     # Apache y        y
elasticsearch-dsl>=7.0.0,<8.0.0 # Apache y        y
lxml==3.7.3
python-dateutil==2.6.1
rc==0.3.1
requests==2.13.0
unicodecsv==0.14.1

# suggested for development environment
#coverage
#nose
#snakefood
#sphinx
