# apt-get install redis-server

click
beautifulsoup4
deepdiff
elasticsearch>=7.0.0,<8.0.0
elasticsearch-dsl>=7.0.0,<8.0.0
python-dateutil
redis
requests
ring
unicodecsv

# suggested for development environment
#coverage
#nose
#snakefood
#sphinx

bpython
coverage
mypy
pytest
pytest-cov
#pytest-testmon
pytest-xdist
