# apt-get install redis-server

bpython==0.16

click==6.7
beautifulsoup4==4.5.3
deepdiff
elasticsearch>=7.0.0,<8.0.0
elasticsearch-dsl>=7.0.0,<8.0.0
lxml==3.7.3
python-dateutil==2.6.1
redis==3.2.1
requests==2.20.0
ring==0.7.2
unicodecsv==0.14.1

# suggested for development environment
#coverage
#nose
#snakefood
#sphinx

coverage
pytest
pytest-cov
pytest-testmon
pytest-xdist
